springph/target

springph/.mvn

spingph/.settings

springph/.classpath
springph/.factorypath
springph/.project
springph/HELP.md
springph/mvnw
springph/mvnw.cmd
springph/src/main/resources

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache